# Table Question Answering

In [1]:
!pip install transformers

Requirement already satisfied: transformers in c:\users\prana\appdata\roaming\python\python310\site-packages (4.34.0)
Requirement already satisfied: tokenizers<0.15,>=0.14 in c:\users\prana\appdata\local\programs\python\python310\lib\site-packages (from transformers) (0.14.0)
Requirement already satisfied: safetensors>=0.3.1 in c:\users\prana\appdata\local\programs\python\python310\lib\site-packages (from transformers) (0.3.3)
Requirement already satisfied: numpy>=1.17 in c:\users\prana\appdata\local\programs\python\python310\lib\site-packages (from transformers) (1.26.0)
Requirement already satisfied: packaging>=20.0 in c:\users\prana\appdata\roaming\python\python310\site-packages (from transformers) (23.1)
Requirement already satisfied: pyyaml>=5.1 in c:\users\prana\appdata\local\programs\python\python310\lib\site-packages (from transformers) (6.0.1)
Requirement already satisfied: requests in c:\users\prana\appdata\local\programs\python\python310\lib\site-packages (from transformers) (2.31.0)
Requirement already satisfied: tqdm>=4.27 in c:\users\prana\appdata\local\programs\python\python310\lib\site-packages (from transformers) (4.66.1)
Requirement already satisfied: filelock in c:\users\prana\appdata\local\programs\python\python310\lib\site-packages (from transformers) (3.12.4)
Requirement already satisfied: huggingface-hub<1.0,>=0.16.4 in c:\users\prana\appdata\local\programs\python\python310\lib\site-packages (from transformers) (0.16.4)
Requirement already satisfied: regex!=2019.12.17 in c:\users\prana\appdata\local\programs\python\python310\lib\site-packages (from transformers) (2023.8.8)
Requirement already satisfied: fsspec in c:\users\prana\appdata\local\programs\python\python310\lib\site-packages (from huggingface-hub<1.0,>=0.16.4->transformers) (2023.6.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\prana\appdata\local\programs\python\python310\lib\site-packages (from huggingface-hub<1.0,>=0.16.4->transformers) (4.8.0)
Requirement already satisfied: colorama in c:\users\prana\appdata\roaming\python\python310\site-packages (from tqdm>=4.27->transformers) (0.4.6)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\prana\appdata\local\programs\python\python310\lib\site-packages (from requests->transformers) (3.2.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\prana\appdata\local\programs\python\python310\lib\site-packages (from requests->transformers) (2023.7.22)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\prana\appdata\local\programs\python\python310\lib\site-packages (from requests->transformers) (2.0.5)
Requirement already satisfied: idna<4,>=2.5 in c:\users\prana\appdata\local\programs\python\python310\lib\site-packages (from requests->transformers) (3.4)

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
from transformers import AutoModelForTableQuestionAnswering, AutoTokenizer, pipeline
import pandas as pd

For this we will use sample data file from Ookla which shows fastest ISPs by city in 2017.
Source : https://www.lifehacker.com.au/2017/11/revealed-the-fastest-isps-in-each-australian-city/

In [ ]:
# Downloading data

!wget --no-check-certificate 'https://docs.google.com/uc?export=download&id=1TxyQU9v16GfLz10NvnyJZhgVwECxmyqe' -O 'data_ISP.csv'

In [3]:
data = pd.read_csv(r"../datasets/FCRIT.csv")
data

    Company  Number of Students placed  Package
0       TCS                         20    10.74
1  Barclays                          6    23.56
2   Infosys                         15    14.12
3       LTI                          7    13.89
4       Jio                          9    22.15
5   Seclore                          2     9.07
6      Zeus                          3    11.74
7    Aurion                         10    20.58
8    Amazon                          5    23.56

In [4]:
data = data.astype(str)

In [5]:
model = 'google/tapas-large-finetuned-sqa'
#model = 'google/tapas-large-finetuned-wtq'
tapas_model = AutoModelForTableQuestionAnswering.from_pretrained(model)
tapas_tokenizer = AutoTokenizer.from_pretrained(model)

nlp = pipeline('table-question-answering', model=tapas_model, tokenizer=tapas_tokenizer)


def qa(query,data):
    print(f"Question: {query}")
    result = nlp({'table': data,'query':query})
    answer = result['cells']
    print(f"Answer: {answer}\n")

In [8]:
prediction = qa('How many students are placed in TCS',data)

Question: How many students are placed in TCS
Answer: ['20']

In [9]:
queries = [
    "How many students are placed in TCS?",
    "What is package of students placed in TCS?",
    "What is package of TCS?",
    "Which company gives highest package?",
    "Which company gives lowest package?",
    "Which company has highest number of students placed?",
    "Which company has lowest number of students placed?",
    "Which company has least number of students placed?",
    "Which companies have package as 23.56?",
    "Which companies have same package?",
    "WWhat are packages of TCS and Jio?",
    "What is sum of all packages?",
    "What is average of all packages?",
    "What is count of all packages?",
    "What is total of package of TCS and Jio?",
    "Who has lesser package than Infosys?",
    "Who has greater package than Jio?",
    "What is highest of all packages?",
    "What is maximum package?",
    "What is lowest package?",
    "What is minimum package?",
]

In [10]:
for query in queries:
    qa(query, data)

Question: How many students are placed in TCS?
Answer: ['20']

Question: What is package of students placed in TCS?
Answer: ['10.74']

Question: What is package of TCS?
Answer: ['10.74']

Question: Which company gives highest package?
Answer: ['Barclays']

Question: Which company gives lowest package?
Answer: ['Seclore']

Question: Which company has highest number of students placed?
Answer: ['TCS']

Question: Which company has lowest number of students placed?
Answer: ['Seclore']

Question: Which company has least number of students placed?
Answer: ['Seclore']

Question: Which companies have package as 23.56?
Answer: ['Barclays', 'Amazon']

Question: Which companies have same package?
Answer: ['TCS', 'Infosys', 'LTI', 'Jio', 'Seclore', 'Zeus', 'Aurion']

Question: WWhat are packages of TCS and Jio?
Answer: ['10.74', '22.15']

Question: What is sum of all packages?
Answer: ['10.74', '23.56', '14.12', '13.89', '22.15', '9.07', '11.74', '20.58', '23.56']

Question: What is average of all packages?
Answer: ['10.74', '23.56', '14.12', '13.89', '22.15', '9.07', '11.74', '20.58', '23.56']

Question: What is count of all packages?
Answer: ['10.74', '23.56', '14.12', '13.89', '22.15', '9.07', '11.74', '20.58', '23.56']

Question: What is total of package of TCS and Jio?
Answer: ['10.74', '22.15']

Question: Who has lesser package than Infosys?
Answer: ['Seclore']

Question: Who has greater package than Jio?
Answer: ['Infosys']

Question: What is highest of all packages?
Answer: ['23.56']

Question: What is maximum package?
Answer: ['23.56']

Question: What is lowest package?
Answer: ['9.07']

Question: What is minimum package?
Answer: ['9.07']

In [ ]:
#/////////////////////////////////////////////////////////

In [11]:
from transformers import pipeline

tqa = pipeline(task="table-question-answering", model="google/tapas-large-finetuned-wtq")

In [12]:

table = pd.read_csv(r"../datasets/mlb_teams_2012.csv")
table = table.astype(str)
table

            Team  "Payroll (millions)"  "Wins"
0      Nationals                 81.34      98
1           Reds                  82.2      97
2        Yankees                197.96      95
3         Giants                117.62      94
4         Braves                 83.31      94
5      Athletics                 55.37      94
6        Rangers                120.51      93
7        Orioles                 81.43      93
8           Rays                 64.17      90
9         Angels                154.49      89
10        Tigers                 132.3      88
11     Cardinals                 110.3      88
12       Dodgers                 95.14      86
13     White Sox                 96.92      85
14       Brewers                 97.65      83
15      Phillies                174.54      81
16  Diamondbacks                 74.28      81
17       Pirates                 63.43      79
18        Padres                 55.24      76
19      Mariners                 81.97      75
20          Mets                 93.35      74
21     Blue Jays                 75.48      73
22        Royals                 60.91      72
23       Marlins                118.07      69
24       Red Sox                173.18      69
25       Indians                 78.43      68
26         Twins                 94.08      66
27       Rockies                 78.06      64
28          Cubs                 88.19      61
29        Astros                 60.65      55

In [13]:
question = "Which Team had 90 Wins?"
answer = tqa(table=table, query=question)
answer["answer"]

C:\Users\prana\AppData\Roaming\Python\Python310\site-packages\transformers\models\tapas\tokenization_tapas.py:2762: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  text = normalize_for_match(row[col_index].text)
C:\Users\prana\AppData\Roaming\Python\Python310\site-packages\transformers\models\tapas\tokenization_tapas.py:1561: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cell = row[col_index]

'Rays'

In [14]:
questions = [
    "How many wins the Rangers had?",
    "How many Payroll the Nationals had?",
    "Which Team had 94 Wins?",
    "WWhat is total teams?",
    "What is highest of all wins?",
    "What is average of all wins?",
    "What is sum of all wins?",
]

In [15]:
answers = []
for question in questions:
    answer = tqa(table=table, query=question)
    answers.append(answer["answer"])

In [16]:
for i, answer in enumerate(answers):
    print(f"Question: {questions[i]}")
    print(f"Answer: {answer}\n")

Question: How many wins the Rangers had?
Answer: SUM > 93

Question: How many Payroll the Nationals had?
Answer: SUM > 81.34

Question: Which Team had 94 Wins?
Answer: Giants, Braves, Athletics

Question: WWhat is total teams?
Answer: COUNT > Nationals, Reds, Yankees, Giants, Braves, Athletics, Rangers, Orioles, Rays, Angels, Tigers, Cardinals, Dodgers, White Sox, Brewers, Phillies, Diamondbacks, Pirates, Padres, Mariners, Mets, Blue Jays, Royals, Marlins, Red Sox, Indians, Twins, Rockies, Cubs, Astros

Question: What is highest of all wins?
Answer: SUM > 98

Question: What is average of all wins?
Answer: AVERAGE > 98, 97, 95, 94, 94, 94, 93, 93, 90, 89, 88, 88, 86, 85, 83, 81, 81, 79, 76, 75, 74, 73, 72, 69, 69, 68, 66, 64, 61, 55

Question: What is sum of all wins?
Answer: SUM > 98, 97, 95, 94, 94, 94, 93, 93, 90, 89, 88, 88, 86, 85, 83, 81, 81, 79, 76, 75, 74, 73, 72, 69, 69, 68, 66, 64, 61, 55

In [ ]:
#/////////////////////////////////////////////////////////

In [17]:
from transformers import AutoModelForTableQuestionAnswering, AutoTokenizer, pipeline
import pandas as pd

In [19]:
data = pd.read_csv(r"../datasets/data_ISP.csv")
data

,City,Download (Mbps),Upload (Mbps),Fastest ISP,Speed Score
0,"Adelaide, South Australia",21.93,10.74,TPG,31.09
1,"Brisbane, Queensland",35.08,23.56,Optus,49.19
2,"Canberra, Australian Capital Territory",32.47,14.12,¡¡Net,35.21
3,"Darwin, Northern Territory",29.62,13.89,¡¡Net,34.34
4,"Geelong, Victoria",67.05,22.15,¡¡Net,94.26
5,"Gold Coast, Queensland",32.17,9.07,Optus,91.37
6,"Hobart, Tasmania",27.25,11.74,Telstra,27.80
7,"Melbourne, Victoria",31.63,20.58,Spirit,44.29
8,"Newcastle, New South Wales",33.97,14.74,MyRepublic,57.36
9,"Perth, Western Australia",17.90,7.59,TPG,28.44
10,"Sydney, New South Wales",30.03,16.27,MyRepublic,49.18
11,"Wollongong, New South Wales",33.72,19.78,MyRepublic,94.31

In [20]:
data = data.astype(str)

In [21]:
model = 'google/tapas-large-finetuned-sqa'
tapas_model = AutoModelForTableQuestionAnswering.from_pretrained(model)
tapas_tokenizer = AutoTokenizer.from_pretrained(model)

nlp = pipeline('table-question-answering', model=tapas_model, tokenizer=tapas_tokenizer)

def qa(query,data):
    print(query)
    result = nlp({'table': data,'query':query})
    answer = result['cells']
    print(answer)

In [23]:
prediction = qa('Which city has the highest download speed',data)

Which city has the highest download speed
['Geelong, Victoria']

In [24]:
questions = [
    "What is the smallest Mbps?",
    "Which city has the highest download speed?",
    "fastest ISP of queensland?",
    "Which city has the highest speed score?",
    "What is the sum of Speed Scores of Victoria and Tasmania?",
    "Which city has the ISP MyRepublic?",
    "What are the of Speed Scores of Victoria and Queensland?",
]

In [25]:
answers = []
for question in questions:
    answer = nlp(table=data, query=question)
    answers.append(answer["answer"])

In [26]:
for i, answer in enumerate(answers):
    print(f"Question: {questions[i]}")
    print(f"Answer: {answer}\n")

Question: What is the smallest Mbps?
Answer: 17.9

Question: Which city has the highest download speed?
Answer: Geelong, Victoria

Question: fastest ISP of queensland?
Answer: Optus

Question: Which city has the highest speed score?
Answer: Wollongong, New South Wales

Question: What is the sum of Speed Scores of Victoria and Tasmania?
Answer: 94.26, 27.8, 44.29

Question: Which city has the ISP MyRepublic?
Answer: Wollongong, New South Wales

Question: What are the of Speed Scores of Victoria and Queensland?
Answer: 49.19, 94.26, 91.37, 44.29